<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link href="css/bootstrap.css" type="text/css" rel="stylesheet">
		<link href="css/style.css" type="text/css" rel="stylesheet">
	<body>
		<div class="container">
			<!--ng-app 指令初始化一个 AngularJS 应用程序。--><!--ng-init 初始化应用程序数据 -->
			<!--将应用程序的数据类型值通过html输出-->
			<!--ng-model 把应用程序数据绑定到html元素上-->
			<!--方法二 将应用程序的数据类型值通过html输出-->
			<!--<div ng-app="" ng-init="" >
	 			<p>在输入框中尝试输入:</p>
				<p>姓名: <input type="text" ng-model="name"></p>
				<p ng-bind="name"></p>
				<p>{{ name }}</p>
	 		</div> -->
	 		<!-- <div ng-app="" ng-init="q=1;n=8">
	 			<h2>价格计算</h2>
	 			价格<input type="number" ng-model="q" class="form-control">
	 			数量<input type="number" ng-model="n" class="form-control">
	 			<p><input type="text"  value="{{ q * n }}"></p>
	 			<p>{{ q * n }}</p>
	 			<p ng-bind="q * n"></p>
	 		</div> -->
	 		<!-- <p>ng-repeat 指令会重复一个 HTML 元素：</p>
	 		<div ng-app="" ng-init="name=['1','2','3','4','5','6']">
	 			<ul>
	 				<li ng-repeat="x in name">
	 					{{ x }}
	 				</li>
	 			</ul>
	 		</div> -->
	 		<!-- <p>ng-repeat 可用于一个对象数组上面</p>
	 		<div ng-app="" ng-init="names=[{name:'xia',job:'IT'},{name:'wang',job:'HR'},{name:'huang',job:'DR'}]">
	 			<p ng-repeat="x in names">
	 				<span>{{ x.name +', '+ x.job}}</span>
	 			</p>
	 		</div> -->
	 		
	 		<!-- <div ng-app="" ng-init="q=1;n=8">
	 			<h2>姓名</h2>
	 			姓<input type="text" ng-model="q"><br/><br/>
	 			名<input type="text" ng-model="n">
	 			<p><input type="text"  value="{{ q + n }}"></p>
	 		</div>
	 		 -->

	 		<!-- <p>AngularJS 控制器</p>
	 		<div ng-app="" ng-controller="aa">
	 			姓<input type="text" ng-model="ss.fristName">
	 			名<input type="text" ng-model="ss.lastName">
	 		    <p>{{ ss.firstName + ", " + ss.lastName}}</p>
	 			<p>{{ fullname() }}</p>
	 		</div> --> 
	 		<p>AngularJS 过滤器</p>
	 		<!-- <div ng-app="" ng-controller="aa">
	 			姓<input type="text" ng-model="ss.fristName">
	 			名<input type="text" ng-model="ss.lastName">
	 			<p>{{ ss.firstName + ", " + ss.lastName}}</p>
	 			<p>{{ ss.fristName | uppercase }}</p>
	 		</div> -->
	 		<!-- <div ng-app="" ng-controller="price">
	 			单价<input type="text" ng-model="q">
	 			数量<input type="text" ng-model="n">
	 			<p>{{ q*n | currency }}</p>
	 		</div> -->
			<!-- <div ng-app="" ng-controller="namesController">
				<ul>
					<li ng-repeat="x in names">
						{{ x.name + ", " + x.job }}
					</li>
				</ul>
			</div> -->
			<div ng-app="" ng-controller="namesController">
				<label>输入搜索条件：</label>
				<input type="text" ng-model="name">
				<ul>
					<li ng-repeat="x in names | filter:name | orderBy:'job'">
						{{ (x.name | uppercase) + ", " + x.job }}
					</li>
				</ul>
			</div>
	 		<script type="text/javascript">
	 			function namesController($scope){
	 				$scope.names=[
	 					{name:'xia',job:'xx'},
	 					{name:'wang',job:'www'},
	 					{name:'huang',job:'hhh'},
	 				]
	 			}
	 		</script>
	 		<script src="js/angular.js"></script>
		</div>
	</body>
</html>
 